*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

body{
    width: 100%;
    height: 100vh;
    background:url(midnight-sunrise-4k-b1.jpg) #000 ;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    color: #fff;
    
}

.wrap{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 60%;
    margin-bottom: 16%;
    min-width: 300px;
}

.widget{
    width: 50%;
    margin: 40px;
    min-width: 500px;
    /*border: 1px #fff solid;*/
}

.widget p{
    display: inline-block;
    line-height: 16px;
}

.date{
    width: 100%;
    padding: 20px;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    font-size: 24px;
    margin-bottom: 5px;
    background: rgba(0, 0, 0, .5);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(4.2px);
    -webkit-backdrop-filter: blur(4.2px);
}

.clock{
    width: 100%;
    padding: 20px;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    font-size: 46px;
    background: rgba(0, 0, 0, .5);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(4.2px);
    -webkit-backdrop-filter: blur(4.2px);
}

.clock .seconds-box{
    display: inline-block;
}
