*{
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}

body{
  width: 100%;
  height: 100vh;
  background:url(./images/midnight-sunrise-4k-b1.jpg) #000 ;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  color: #fff;   
}

.slider {
  position: relative;
  display: flex;
  width: 100%;
  margin-top: 10px;
  max-width: 800px;
  margin-left: 12px;
  margin-right: 12px;
  height: 350px;
  overflow: hidden;
  border-radius: 30px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  -o-border-radius: 30px;
}



.slide {
  width: 100%;
  max-width: 800px;
  height: 350px;
  position: absolute;
  transition: all 0.5s;
}

.slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.btn {
  position: absolute;
  width: 40px;
  height: 40px;
  padding: 10px;
  border: none;
  border-radius: 50%;
  z-index: 10px;
  cursor: pointer;
  font-size: 18px;
}

.btn i{
  position: absolute;
  font-size: 40px;
  top: -1px;
  left: 0px;
}

.btn-prev {
  top: 45%;
  left: 2%;
}

.btn-next {
  top: 45%;
  right: 2%;
}

.btn:active {
  transform: scale(1.1);
}


.wrap{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 50%;
  height: 40%;
  margin-bottom: 16%;
}

.widget{
  width: 50%;
  margin: 15px;
  min-width: 350px;
  /*border: 1px #fff solid;*/
}

.widget p{
  display: inline-block;
  line-height: 12px;
}

.date{
  width: 100%;
  padding: 12px;
  font-family: 'Roboto', sans-serif;
  text-align: center;
  font-size: 24px;
  margin-bottom: 5px;
  background: rgba(0, 0, 0, .5);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(4.2px);
  -webkit-backdrop-filter: blur(4.2px);
}

.clock{
  width: 100%;
  padding: 12px;
  font-family: 'Roboto', sans-serif;
  text-align: center;
  font-size: 42px;
  background: rgba(0, 0, 0, .5);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(4.2px);
  -webkit-backdrop-filter: blur(4.2px);
}

.clock .seconds-box{
  display: inline-block;
}